.container {
    width: auto;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(0, auto);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.item {
    border: black 1px solid;
    margin: 5px;
}

header {
    display: flex;
    grid-column: 1 / 11;
    height: 85px;
    grid-auto-rows: minmax(0, auto);
    text-wrap: nowrap;
}

.header {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.header_logo {
    width: 250px;
    font-size: 55px;
    font-weight: 800;
}

.menu {
    grid-column: 1 / 3;
    border: 0.5px solid black;
    text-wrap: nowrap;
    display: grid;
}

.catalog_name {
    border: 0.5px solid black;
    text-align: center;
    padding: 20px 0 20px 0;
    align-self: flex-start;
}

.catalog_item {
    border: 0.5px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 0 15px 15px;
    margin: auto;
}

main {
    height: auto;
    grid-column: 3 / 11;
    margin: auto;
    text-align: center;
}

.main_title {
    font-size: 20px;
    margin-top: 15px;
}

.cars {
    width: auto;
    height: auto;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.car {
    padding: 10px 0 10px 15px;
    text-align: start;
}

footer {
    display: flex;
    grid-column: 1 / 11;
    height: 100px;
    grid-auto-rows: minmax(0, auto);
}

.footer {
    text-align: center;
    margin: auto;
    width: fit-content;
    text-wrap: nowrap;
}
