body {
    color: rgb(215, 215, 215);
    margin: 0;
    background-color: rgb(249, 249, 249);
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(0, auto);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

header {
    display: flex;
    grid-column: 1 / 11;
    height: 85px;
    grid-auto-rows: minmax(0, auto);
    text-wrap: nowrap;
}

.header {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.item_header {
    background-color: rgb(29, 39, 50);
    position: sticky;
    top: 0;
}

.header_logo, .footer_logo {
    width: 250px;
    font-size: 55px;
    font-weight: 800;
    color: aliceblue;
    text-decoration: none;
    text-shadow: rgb(0, 234, 255) 0px 0px 20px;
}

.header_crumbles, .footer_crumbles {
    display: flex;
    gap: 15px;
    align-items: center;
}

.icon {
    margin: auto;
    margin-top: 5px;
    width: 25px;
    filter: invert();
}

.whatsapp:hover {
    filter: drop-shadow(0 0 5px rgb(2, 255, 2));
}

.vk:hover {
    filter: drop-shadow(0 0 5px rgb(0, 94, 255));
}

.menu {
    grid-column: 1 / 3;
    margin: 5px 0 0 5px;
    text-wrap: nowrap;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-self: self-start;
    color: rgb(29, 39, 50);
}

.catalog_name {
    text-align: center;
    padding: 15px 0 15px 0;
    border: 1px solid white;
    background-color: rgb(185, 185, 185);
    font-size: 20px;
    font-weight: bold;
}

.catalog_item {
    padding: 15px 0 15px 15px;
    border: 1px solid white;
    background-color: rgb(221, 221, 221);
}

main {
    color: rgb(29, 39, 50);
    height: auto;
    width: 100%;
    grid-column: 3 / 11;
    margin-bottom: 50px;
    text-align: center;
}

.main_title {
    padding: 15px 0 15px 0;
    font-size: 20px;
    margin-top: 15px;
    background-color: rgb(185, 185, 185);
    margin: 5px 5px 0 0;
    border: 1px solid white;
}

.cars {
    margin: 3vh 0 3vh 4vw;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.car {
    padding: 10px 0 10px 15px;
    text-align: start;
}

footer {
    grid-column: 1 / 11;
    display: flex;
    height: auto;
    justify-content: space-between;
}

.item_footer {
    background-color: rgb(29, 39, 50);
}

.footer_section1, .footer_section2, .footer_section3 {
    margin: 50px;
}

.footer_section1 {
    margin-top: 38px;
}

.footer_crumbles {
    margin-top: 10px;
}

.footer_at {
    margin-top: 10px;
}

.footer_section2, .footer_section3 {
    line-height: 28px;
}

.footer_logo {
    width: 250px;
    font-size: 55px;
    font-weight: 800;
}
