@media(max-width: 1150px) {
    .menu {
        visibility: hidden;
        display: none;
    }

    main {
        grid-area: 2;
        grid-column: 1/11;
    }
}

@media(max-width: 1000px) {
    .header_support, .header_payment{
        display: none;
    }

    footer {
        display: block;
    }

    .footer_item {
        align-items: center;
    }

    .footer {
        width: fit-content;
        margin: auto;
    }

    .footer_at {
        margin-top: 10px;
    }

    .cars {
        margin-left: 10px;
    }
}

@media(max-width: 900px) {

    .header_main, .header_catalog, .header_profile, .header_busket, .header_crumbles {
        display: none;
    }

    .item_header {
        display: grid;
        grid-template-columns: repeat(12, 1fr)
    }

    .icon_menu {
        display: block;
        grid-column: 11/12;
    }

    .header_logo {
        grid-column: 6/8;
    }
}