{% extends "main/layout.html" %}

{% block content %}
    <h1 class="main_title">
        {{title}} {{lamp_base_main.name}} ({{lamp_base_main.watts}})
    </h1>

    <div class="lamps_container">
        {% for lamp in lamps %} 
            {% for lamp_place in lamp_places %}
                {% if lamp.base.id == lamp_base_main.id %}
                    {% if lamp.type == lamp_place.type and lamp_place.lamp_base.id == lamp_base_main.id and lamp.type == lamp_base_main.type %}
                        {% if lamp_place.carcase == carcase_main %}
                        <a class="one_lamp_container_url" href="{{lamp_base_main.slug}}/{{lamp.slug}}">
                            <div class="one_lamp_container">
                                <div class="image_container">
                                    <img class="lamp_image" src="{{lamp.image.url}}">
                                </div>
                                <div class="lamp_title">
                                    <div class="lamp_title_margin">Лампа {{lamp.voltage}} {{lamp.base}} {{lamp.watts}}</div>
                                    <div class="lamp_title_margin">
                                        {% if lamp.title %}
                                            {{lamp.title}}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="lamp_items lamp_brand">
                                    Производитель {{lamp.brand}}
                                </div>
                                <div class="lamp_items lamp_price">
                                    {{lamp.price}} руб/{{lamp.amount_type}}
                                </div>
                                <div class="lamp_items button_item">
                                    <form action="{% url 'cart:cart' %}">
                                        <button type="button" class="buy_button">Купить</button>
                                    </form>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock content %}