{% extends "main/layout.html" %}
{% block content %}
    <div>
        <form method="POST" action="#">
            {% csrf_token %}
            <div class="form-group">
                {{form}}
            </div>
            <div class="form-group">
                <button type="submit">
                    Зарегистрироваться
                </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small>
                Уже есть аккаунт?
                <a href="login">Войти</a>
            </small>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
