menu {
    display: none;
    width: 210px;
    position: absolute;
    z-index: 2;
    margin-top: 0;
    margin-left: -40px;
    font-size: 20px;
    background-color: rgb(149, 149, 149);
    border-radius: 3px;
}

.menu_title {
    align-items: center;
    height: 60px;
    width: 200px;
    display: flex;
    text-align: start;
    background-color: rgb(185, 185, 185);
    background-color: rgb(149, 149, 149);
    font-weight: bold;
    cursor: pointer;
    margin: auto;
}

.menu_name {
    color: rgb(0, 0, 0);
    width: 25vw;
    margin-left: 19px;
}

.menu_nav {
    height: 60px;
    width: 200px;
    background-color: rgb(221, 221, 221);
    display: flex;
    margin: auto;
    margin-top: 5px;
    border-radius: 3px;
}

.menu_nav_main {
    margin-top: 0;
}

.menu_nav_cart {
    margin-bottom: 5px;
}

.menu_nav_text {
    width: auto;
    margin: auto;
    margin-left: 19px;
}

.menu_url {
    text-decoration: none;
    color: rgb(29, 39, 50);
}

.menu_url:hover {
    text-decoration: underline;
}

.close {
    width: 50px;
    margin-left: 67px;
}

.icon_close {
    width: 10px;
    margin-top: 10px;
}

