.model_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    min-height: fit-content;
    width: 80vw;
    margin: auto;
}

.car_model {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin: 30px 0 5px 10vw;
}

.carcase_image_container {
    width: 150px;
    height: 150px;
}

.carcase_image {
    margin: auto;
    width: 150px;
}

.carcase_url {
    text-decoration: none;
    color: rgb(29, 39, 50);
    font-weight: 700;
}

@media (min-width: 1700px) {
    .model_container {
        grid-template-columns: repeat(7, 1fr)
    }
}

@media (min-width: 1500px) {
    .model_container {
        grid-template-columns: repeat(6, 1fr)
    }
}

@media (max-width: 1200px) {
    .model_container {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media (max-width: 900px) {
    .model_container {
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (max-width: 600px) {
    .model_container {
        grid-template-columns: repeat(2, 1fr)
    }
}