{% extends "main/layout.html" %}

{% block content %}
    <main class="item item_main main brands_to_models">
        <div>
            {% for model in models_autos %}
                {% if model.brand.id == brand_autos.id %}
                        <div class="car_model">
                            {{model}}
                        </div>
                        <div>
                            {% for carcase in carcases %}
                                {% if carcase.model.id == model.id%}
                                <div>
                                    <a href="{{model.slug}}/{{carcase.slug}}">
                                        <div class="image_container">
                                            <img class="lamp_image" src="{{carcase.image.url}}">
                                        </div>
                                        {{carcase}} {{carcase.year}}<br>
                                    </a>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}