{% extends "main/layout.html" %}

{% block content %}
    <main class="item item_main main brands_to_models">
        <h1 class="main_title">
            {{title}} {{carcases.model.brand}} {{carcases.name}}
        </h1>
        <div class="places_container">
            {% for place in places %}
                {% for carcase in carcases_places %}
                    {% if carcase.carcase.id == carcases.id %}
                        {% if carcase.places.id == place.id %}
                            <div class="place_container">
                                <div class="place_name_container">
                                    <img class="place_image" src="{{place.image.url}}" alt=""> 
                                    <div class="place_name">
                                        {{carcase.places}}
                                    </div>
                                </div>

                                {% for lamp_base in lamps_bases %}
                                    {% for lamp_place in lamps_places %}
                                        {% if lamp_base.id == lamp_place.lamp_base.id %}
                                            {% if lamp_place.carcase.id == carcases.id %}
                                                {% if lamp_place.places.id == carcase.places.id %}
                                                    <li class="type_container">
                                                        <a class="type_url" href="{{carcase_slug}}/{{lamp_base.slug}}">
                                                            {{lamp_place.type}}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </main>
{% endblock content %}