{% extends "main/layout.html" %}
{% block content %}

{% for type, i in types.items %}
    <h1 class="main_title">{{type}}</h1>
    <div class="lamps_container">
        {% for lamp in lamps %}
            {% if lamp.type.id == i%}
                <a class="one_lamp_container_url" href="{{lamp_base_main.slug}}/{{lamp.slug}}">
                    <div class="one_lamp_container">
                        <div class="image_container">
                            <img class="lamp_image" src="{{lamp.image.url}}">
                        </div>
                        <div class="lamp_title">
                            <div class="lamp_title_margin">Лампа {{lamp.voltage}} {{lamp.base}} {{lamp.watts}}</div>
                            <div class="lamp_title_margin">
                                {% if lamp.title %}
                                    {{lamp.title}}
                                {% endif %}
                            </div>

                        </div>
                        <div class="lamp_items lamp_brand">
                            Производитель {{lamp.brand}}
                        </div>
                        <div class="lamp_items lamp_price">
                            {{lamp.price}} руб/{{lamp.amount_type}}
                        </div>
                        <div class="lamp_items button_item">
                            <button class="buy_button">Купить</button>
                        </div>
                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}

    {% comment %} <div class="lamps_container">
        {% for lamp in lamps %}
            {% if lamp.type.id == 1%}
                <div class="one_lamp_container">
                    <div class="image_container">
                        <img class="lamp_image" src="{{lamp.image.url}}">
                    </div>
                    <div class="lamp_title">
                        <div class="lamp_title_margin">Лампа {{lamp.voltage}} {{lamp.base}} {{lamp.watts}}</div>
                        <div class="lamp_title_margin">
                            {% if lamp.title %}
                                {{lamp.title}}
                            {% endif %}
                        </div>

                    </div>
                    <div class="lamp_items lamp_brand">
                        Производитель {{lamp.brand}}
                    </div>
                    <div class="lamp_items lamp_price">
                        {{lamp.price}} руб/{{lamp.amount_type}}
                    </div>
                    <div class="lamp_items button_item">
                        <button class="buy_button">Купить</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <h1 class="main_title">{{led}}</h1>
    {% for lamp in lamps %}
        {% if lamp.type.id == 2%}
            <div>
                {{lamp.base}} {{lamp.type}}
            </div>
        {% endif %}
    {% endfor %}
    
    <h1 class="main_title">{{xenon}}</h1>
    {% for lamp in lamps %}
        {% if lamp.type.id == 3%}
            <div>
                {{lamp.base}} {{lamp.type}}
            </div>
        {% endif %}
    {% endfor %} {% endcomment %}
    
{% endblock content %}
