{% extends "main/layout.html" %}

{% block content %}

        {% comment %} <div class="cars">
            {% for brand in brand_autos %}
            <div class="cars_column">
                <div class="car">{{brand}}</div>
            </div>
            {% endfor %}
        </div> {% endcomment %}
        <div class="cars">
            <div class="car car_1">Acura</div>
            <div class="car car_2">Alfa Romeo</div>
            <div class="car car_3">Audi</div>
            <div class="car car_4">BMW</div>
            <div class="car car_5">BYD</div>
            <div class="car car_6">Cadillac</div>
            <div class="car car_7">Chery</div>
            <div class="car car_8">Chevrolet</div>
            <div class="car car_9">Chrysler</div>
            <div class="car car_10">Citroen</div>
            <div class="car car_11">Daewoo</div>
            <div class="car car_12">Datsun</div>
            <div class="car car_13">Dodge</div>
            <div class="car car_14">DongFeng</div>
            <div class="car car_15">FAW</div>
            <div class="car car_16">Fiat</div>
            <div class="car car_17">Ford</div>
            <div class="car car_18">Foton</div>
            <div class="car car_19">Geely</div>
            <div class="car car_20">Great Wall</div>
            <div class="car car_21">Haval</div>
            <div class="car car_22">Honda</div>
            <div class="car car_23">Hyundai</div>
            <div class="car car_24">Infiniti</div>
            <div class="car car_25">Jaguar</div>
            <div class="car car_26">Jeep</div>
            <div class="car car_27">KIA</div>
            <div class="car car_28">Land Rover</div>
            <div class="car car_29">Lexus</div>
            <div class="car car_30">Lifan</div>
            <div class="car car_31">Mazda</div>
            <div class="car car_32">Mercedes-Benz</div>
            <div class="car car_33">MINI</div>
            <div class="car car_34">Mitsubishi</div>
            <div class="car car_35">Nissan</div>
            <div class="car car_36">Opel</div>
            <div class="car car_37">Peugeot</div>
            <div class="car car_38">Porsche</div>
            <div class="car car_39">Renault</div>
            <div class="car car_40">Saab</div>
            <div class="car car_41">SEAT</div>
            <div class="car car_42">Skoda</div>
            <div class="car car_43">Smart</div>
            <div class="car car_44">SsangYong</div>
            <div class="car car_45">Subaru</div>
            <div class="car car_46">Suzuki</div>
            <div class="car car_47">Toyota</div>
            <div class="car car_48">Volkswagen</div>
            <div class="car car_49">Volvo</div>
            <div class="car car_50">Лада (ВАЗ)</div>
            <div class="car car_51">ТагАЗ</div>
            <div class="car car_52">ГАЗ</div>
            <div class="car car_53">УАЗ</div>
        </div>
{% endblock content %}