{% extends "main/layout.html" %}
{% block content %}
<div class="table_container">
    <table>
        <thead>
            <tr>
            <th>Доставка товара</th>
            <th>Стоимость доставки</th>
            <th>Срок доставки</th>
            <th>Стоимость доставки</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Уфа, до пункта выдачи</td>
            <td>От 200₽</td>
            <td>От 1 до 2 дней</td>
            <td>Онлайн</td>
            </tr>
            <tr>
                <td>Уфа, до двери</td>
                <td>От 200₽</td>
                <td>От 1 до 2 дней</td>
                <td>Онлайн</td>
            </tr>
            <tr>
                <td>Уфа, экспресс-доставка</td>
                <td>От 450₽</td>
                <td>От 1 дня</td>
                <td>Онлайн</td>
            </tr>
            <tr>
                <td>Москва, до пункта выдачи</td>
                <td>От 240₽</td>
                <td>От 4 до 6 дней</td>
                <td>Онлайн</td>
            </tr>
            <tr>
                <td>Москва, до двери</td>
                <td>От 400₽</td>
                <td>От 4 до 6 дней</td>
                <td>Онлайн</td>
            </tr>
            <tr>
                <td>Москва, экспресс-доставка</td>
                <td>От 550₽</td>
                <td>От 3 дней</td>
                <td>Онлайн</td>
            </tr>
            <tr>
                <td>Стерлитамак, самовывоз</td>
                <td>0₽</td>
                <td>-</td>
                <td>Наличными, карта</td>
            </tr>
            <tr>
                <td>Стерлитамак, до пункта выдачи</td>
                <td>От 130₽</td>
                <td>1 день</td>
                <td>Онлайн</td>
            </tr>
            <tr>
                <td>Стерлитамак, до двери</td>
                <td>От 270₽</td>
                <td>1 день</td>
                <td>Онлайн</td>
            </tr>
        </tbody>
    </table>
</div>
    
{% endblock content %}